// app global css in SCSS form
@font-face {
  font-family: FirstCoffee;
  src: url('../assets/FirstCoffee.otf') format("opentype");
}

body {
  font-family: 'FirstCoffee', serif;

  @extend .bg-kekwa;

  min-width: 750px;
  max-width: 1920px;
}